<div class="header-container">
  <div class="row">
    <div class="col">
      GdgPresentation
    </div>
    <div class="col">
      <button class="float-right btn btn-primary btn-sm">Login</button>
    </div>
  </div>

</div>
