@import "../../../node_modules/bootstrap/scss/bootstrap";

$headerSize: 70px;

.header-container{
  @extend .container-fluid;
  background-color: lightblue;
  color:darkgreen;
  font-size: $headerSize - 10px;
}
