<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-4 text-center">
      This is a datepicker
    </div>
  </div>
  <div class="row">
    <div class="col">
      {{date | json}}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ngb-datepicker [(ngModel)]="date"></ngb-datepicker>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="col">
      <button class="btn btn-sm btn-outline-primary btn-block" (click)="sayHello()">Say hello</button>
    </div>

  </div>
</div>
