/* You can add global styles to this file, and also import other style files */

body{
  margin:0px;
}

.vis{
  border:2px solid red;
}

.visr{
  @extend .vis;
  border-color:red;
}

.visb{
  @extend .vis;
  border-color:blue;
}
